body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    color: crimson;
}
p{
    color: darkslategray;
}
h2{
    color:coral;
}